<div class="jumbotron text-center">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Search queries</p>
    <input type="text" class="form-control" name="title" placeholder="Input">
    <a href="" class="btn btn-dark btn-lg mt-4">Search</a>
</div>