<div class="jumbotron text-center">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Search queries</p>

    <form action="/res" method="post">
        <input type="hidden" name="_method" value="POST">
        <input type="text" class="form-control" name="query" placeholder="Input">
        <button type="submit" class="btn btn-dark btn-lg mt-4">Search</button>    
    </form>

</div>