<h4>Result regarding you search</h4>

<div class="alert alert-primary mb-0 mt-4">Q:  {{ques}}</div>
<div class="alert alert-secondary mt-0 mb-2">A:  {{ans}}</div>

<a href="/" class="btn btn-dark">Search New</a>